/* Main Container */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2a9d8f;
    padding: 0 20px;
}

/* Chat Container */
.chat-container {
    width: 100%;
    max-width: 900px;
    height: 95vh;
    border: 1px solid #20756b;
    box-shadow: 0px 10px 16px #20756b(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

/* Chat Header */
.chat-header {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    text-align: center;
    color: #2a9d8f;
    padding: 20px;
    font-weight: bold;
    border-bottom: 1px solid #15162d;
    position: relative;
    /* Position context for absolute children */
}

/* Scrollable Chat Messages */
.scroll-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    scrollbar-width: thin;
    scrollbar-color: #6c757d #0F1021;
}

/* Message Box */
.message-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.message-box.assistant {
    justify-content: flex-start;
}

.message {
    max-width: 70%;
    padding: 15px;
    border-radius: 29px;
    background-color: #2a9d8f;
    color: white;
    font-weight: 500;
}

.message.assistant {
    background-color: #20756b;
}

/* Input Container */
.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #20756b;

}



.input-container button {
    background-color: #20756b;
    margin-left: 10px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}






/* Loader */
.loader {
    margin: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .chat-container {
        width: 100%;
        height: 100%;
    }


    .message {
        max-width: 90%;
    }



    .input-container input {
        font-size: 14px;
    }

    .input-container button {
        font-size: 14px;
    }

    .chat-header {
        flex-direction: row;
        /* Horizontal layout on larger screens */
        justify-content: space-between;
        /* Space out items */
        align-items: center;
        /* Center items vertically */
    }

    .logout-button {
        position: static;
        /* Reset position for normal flow */
        margin-left: 20px;
        /* Space from the text */
        margin-bottom: 0;
        /* Remove margin bottom */
    }

}